/*Whole Website*/

html{
  font-size: 16px;
  font-family: arial;
}

body{
  margin: 0rem;
}
/*Header*/

.header{
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
  z-index: 3;
  width: 100%;
  flex-grow: 1;
}

.logo{
  display: inline-flex;
  padding-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 2rem;
  display: inline-block;
}

.header a{
  font-size: 1.5rem;
  text-decoration: none;
}

.logotextone{
  color: rgba(74,74,74);
}

.logotexttwo{
  color: rgba(155,155,155);
}

.nav-mobile,
.nav{
  padding-right: 1.5rem;
}

.nav-mobile ul,
.header,
.nav ul{
  display: flex;
}
.nav-mobile li,
.nav li{
  padding-left: 1rem;
  display: inline;
}

.nav-mobile{
  display: none;
}

@media only screen and (max-width: 1030px){
  .logo,
  .nav{
    display: none;
  }

  .nav-mobile{
    display: block;
    width: 100%;
    padding-left: 0rem;
  }

  .nav-mobile ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0rem;
  }
}

/* Banner */

.banner{
  background-color: lightgrey;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.banner-left{
  width: 100%;
  margin: 0rem;
}

.bannercontainer{
  min-width: 60%;
  max-width: 90%;
  height: 50rem;
  padding: 2rem 1.5rem;
}

.bannerimage{
  height: 50rem;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannertext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
  max-width: 30%;
  font-weight: bold;
  margin-left: 1rem;
}

.bannertext h1{
  color: rgba(74,74,74);
  margin-bottom: 0.25rem;
  font-size: 4rem;
  font-weight: bolder;
}

.bannertext p{
  font-size: 2rem;
  color: rgba(74,74,74);
  min-width: 60%;
  max-width: 70%;
  font-weight: bold;
}

#button{
  font-size: 1.8rem;
  color: white;
  font-weight: lighter;
  display: block;
  padding: 0.5rem 4rem;
  background-color: rgba(74,74,74);
  text-align: center;
  margin: 1rem 0rem;
  width: 50%;
}

@media only screen and (max-width: 1030px) {
  .banner{
    display: block;
    margin: 0rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannertext{
    min-width: 80%;
    max-width: 35%;
    margin: 0rem;
  }

  .bannertext h1{
    font-size: 2.5rem;
    min-width: 100%;
    max-width: 35%;
    padding: 1rem 1.5rem;
    margin: 0rem;
  }

  .bannertext p{
    font-size: 1.5rem;
    min-width: 100%;
    max-width: 40%;
    padding: 1rem 1.5rem;
    margin: 0rem;
  }

  #button{
    margin: 1rem 1.5rem;
    font-size: 1.3rem;
    width: 50%;
  }

  .bannercontainer{
    height: 40rem;
    padding: 0rem;
    max-width: 100%;
  }

  .bannerimage{
    height: 40rem;
  }
}

@media only screen and (max-width: 700px) {
  .bannercontainer{
    height: 20rem;
  }

  .bannerimage{
    height: 20rem;
  }
}

/* Information left*/

.information{
  display: flex;
  flex-grow: 1;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .information{
    flex-direction: column;
  }
  .hidden{
    display: none;
  }
}

.information-left{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 1.5rem;
  color: rgba(74,74,74);
}

.image-container{
  min-width: 60%;
  max-width: 100%;
  padding: 2rem 1.5rem 2rem 0rem;
  padding-right: 1.5rem;
  height: auto;
  overflow: hidden;
}

.image-container img{
  max-width: 100%;
  height: auto;
  display: black;
}

.information-left h1{
  font-size: 3rem;
}

.information-left p{
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: rgba(74, 74, 74, 0.7);
  padding-right: 1rem;
}

.information-left h2{
  font-size: 1.3rem;
  font-weight: lighter;
}

/* Information right */

.information-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 0.5rem;
}

.box{
  display: flex;
}

.box-left{
  width: 35%;
}

.box-right{
  display: flex;
  align-items: center;
  width: 65%;
  padding-left: 3.5rem;
}

.boximage{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1.5rem;
}

.boximage img{
  max-width: 100%;
  height: auto;
  display: block;
}

.boxtext{
  color: rgba(74,74,74);
}

.boxtext h1{
  font-size: 2.5rem;
  margin-bottom: 0rem;
  font-weight: bold;
}

.boxtext p{
  font-size: 1.7rem;
  font-weight: lighter;
}

.boxtext span{
  color: rgba(83, 149, 221);
  font-size: 1rem;
}

.information-mobile{
  display: none;
}

@media only screen and (max-width: 1030px) {
  .information{
    display: none;
  }

  .information-mobile{
    display: block;
  }
}

/* Information mobile */

.image-info-container{
  max-width: 100%;
  padding: 1.5rem;
}

.one{
  height: 20rem;
  overflow: hidden;
  background-image: url('../images/information-orientation.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.two{
  height: 20rem;
  overflow: hidden;
  background-image: url('../images/information-campus.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.three{
  height: 20rem;
  overflow: hidden;
  background-image: url('../images/information-guest-lecture.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-mobile-text{
    padding-left: 3rem;
}

.box-mobile-text h1{
  font-size: 2.5rem;
  margin-bottom: 0rem;
  font-weight: bold;
}

.box-mobile-text p{
  font-size: 1.7rem;
  font-weight: lighter;
}

.box-mobile-text span{
  color: rgba(83, 149, 221);
  font-size: 1rem;
}
